---
import type { Access } from "@/generated/raid";
import InfoField from "../info-field.astro";
import mapping from "@/mapping.json";

interface Props {
  access: Access;
}

const { access } = Astro.props as Props;

const mappedAccess = mapping.find((mapEl) => mapEl.key === access.type.id);
---

<section class="bg-gray-50 py-5">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <h3 class="text-lg font-semibold text-gray-900">Access</h3>

    <div class="divide-y divide-gray-200">
      <div class="ml-5 space-y-2 py-4">
        <div class="grid grid-cols-4 gap-5 text-sm">
          <InfoField
            label="Type"
            value={mappedAccess?.value}
            tooltip={mappedAccess?.definition}
          />
          <InfoField label="Language" value={access.statement?.language?.id} />
          <InfoField label="Text" value={access.statement?.text} />
          <InfoField label="Embargo Expiry" value={access.embargoExpiry} />
        </div>
      </div>
    </div>
  </div>
</section>
