---
const { raids } = Astro.props;
---

<div class="mt-8 flow-root">
  <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <table class="min-w-full divide-y divide-gray-300">
        <thead>
          <tr>
            <th
              scope="col"
              class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3"
              >Name</th
            >
            <th
              scope="col"
              class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
              >Title</th
            >
            <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-3">
              <span class="sr-only">Edit</span>
            </th>
          </tr>
        </thead>
        <tbody class="bg-white">
          {
            raids.map((raid: any) => {
              const [_, prefix, suffix] = new URL(
                raid.identifier.id
              ).pathname.split("/");

              return (
                <tr class="even:bg-gray-50">
                  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3">
                    {prefix}/{suffix}
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm truncate max-w-96">
                    {raid.title.map((el: any) => el.text).join(";")}
                  </td>
                  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-3">
                    <a
                      href={`/raids/${prefix}/${suffix}`}
                      class="rounded bg-white px-2 py-1 text-xs font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
                    >
                      Open<span class="sr-only">, {raid.name}</span>
                    </a>
                  </td>
                </tr>
              );
            })
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
