---
import type { SpatialCoverage } from "../types";

import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";

interface Props {
  spatialCoverages: SpatialCoverage[];
}

const { spatialCoverages } = Astro.props;
---

<Card className="rounded border-l-[#5594d8] border-l-4 bg-white">
  <CardHeader>
    <CardTitle>Spatial Coverages</CardTitle>
    <CardDescription>
      {spatialCoverages?.length} Spatial Coverage(s)
    </CardDescription>
  </CardHeader>
  <CardContent>
    <div class="flex flex-col gap-4">
      {
        spatialCoverages?.map((el: SpatialCoverage, index: number) => {
          return (
            <div class="flex flex-col gap-4 border rounded p-5">
              <div class="mb-2">
                <p class="font-medium leading-none">
                  <span class="text-gray-300 text-sm mr-1">#{index + 1}</span>
                  <a href={el?.id}>{el?.place}</a>
                </p>
              </div>
              <div class="grid grid-cols-4">
                <div class="space-y-1 text-sm">
                  <h3 class="font-medium leading-none">{el?.language?.id}</h3>
                  <p class="text-xs text-muted-foreground">Language</p>
                </div>
                <div class="space-y-1 text-sm">
                  <h3 class="font-medium leading-none">
                    <a
                      href={`${el?.schemaUri}${el?.place}`}
                    >{`${el?.schemaUri}${el?.place}`}</a>
                  </h3>
                  <p class="text-xs text-muted-foreground">Link</p>
                </div>
              </div>
            </div>
          );
        })
      }
    </div>
  </CardContent>
</Card>
